body{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    font-family: "jua", "Noto Sans KR", sans-serif;
}

.LoginPageBox{
    padding: 10px 10px;

    width: 60%;
    height: 62%;

    .logobox{
        height: 10%;

        img{
            height: 100%;
        }
    }

    .LoginPageMainBox{
        width: 100%;
        height: 90%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .swiperBox{
            width: 60%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .swiper {
                width: 450px;
                height: 400px;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover; /* 비율 유지하며 컨테이너 채우기 */
                    }
                }
            }

            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
                top: 420px;
            }
        }

        .centerLine{
            height: 80%;
            border: solid 1px black;
        }

        .loginBox{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >label{
                font-size: 0.8em;
                margin-left: 10px;
                color: #4F4F4F;
            }

            input[type=text], input[type=password]{
                padding: 10px 20px;
                margin: 5px 0 10px;
                border-radius: 20px;
                font-size: 1.2em;
                background-color: #E2E2E1;
                border: none;
                box-shadow: 0 4px 1px rgba(0,0,0,0.25);
            }

            input:focus,
            input:focus-visible{
                /*border: solid 2px yellow;*/
            }

            .subLoginBox{
                font-size: 0.8em;
                color: #4F4F4F;
                display: flex;
                justify-content: space-around;
                margin: 10px 0;
            }

            button{
                padding: 13px ;
                border-radius: 20px;
                border: none;
                color: white;
                letter-spacing: 2px;
                background-color: #5C1915;
                font-size: 1.1em;
                font-weight: bold;
            }

            p{
                display: none;
            }

            p[class = "error"]{
                font-size: 0.8em;
                margin-left: 10px;
                color: #bf0603;
                display: block;
                margin-top: 0;
            }

            .findReset{
                cursor: pointer;
            }

        }
    }
}

.modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */

    .modal-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 90%;
        max-width: 350px;
        padding: 20px;

        border-radius: 15px;
        border: solid 2px #5C1915;

        .modal-content {

            .modal-header {
                display: flex;
                flex-direction: column;
                align-items: center;

                font-size: 1.5em;
                border: none;

                padding-bottom: 0;

                button {
                    align-self: end;

                    height: 35px;
                    margin: 0;
                    padding: 0;

                    background: none;
                    border: none;

                    cursor: pointer;
                }

            }

            form {
                padding: 0 5%;
                color: #4F4F4F;

                .modal-body {
                    margin: 0;
                    padding: 1em;

                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 5px 20px;
                        font-size: 1.2em;
                        border-radius: 20px;
                        margin-bottom: 20px;
                    }

                    input:last-child{
                        margin-bottom: 0;
                    }

                    input[class="error"], #verificationCode[class="error"]{
                        margin-bottom: 0;
                    }

                    p {
                        display: none;
                    }

                    p[class="error"],#verificationCode + p[class="error"] {
                        color: #bf0603;
                        display: block;
                    }

                    #resetPwNoticeMsg{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "jua", "Noto Sans KR", sans-serif;

                        div{
                            width: fit-content;
                        }
                    }
                }

                .modal-footer {
                    display: flex;
                    justify-content: center;
                    border: none;
                    padding-top: 0;

                    button {
                        background-color: #5C1915;
                        color: white;
                        border: none;
                        width: 90%;
                        padding: 5px;
                        font-size: 1.3em;
                        text-align: center;

                        border-radius: 30px;
                        cursor: pointer;
                    }

                }

                #confirmCodeBtn,
                #verificationCode,
                label[for="verificationCode"],
                #verificationCode + p {
                    display: none;
                }
            }
        }
    }
}