<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/common/admin_header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/admin_style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/admin_circleBtn.css}">

    <link rel="stylesheet" th:href="@{/css/admin/admin_main.css}">
    <link rel="stylesheet" href="../../static/css/admin/admin_main.css">
</head>
<body>

    <header th:replace="~{/admin/common/admin_header::adminHeaderFragment}"></header>
    <section>
        <div class="pageTitle">관리자 페이지</div>
        <div class="mainBox">
            <div class="mainLeft_box">
                <div style="--menu-size: 350px;" th:replace="~{admin/common/admin_circle_menu::adminCircleMenuFragment}"></div>
                <div class="inquiryBox">1 : 1 문의사항</div>
            </div>
            <div class="mainRight_box">
                <div class="hiredDateChart">입사 현황</div>
                <div class="mainRightBottom_box">
                    <div class="eventReaction">이벤트 반응</div>
                    <div class="attendanceChart">
                        <div class="chartTitle">오늘의 근태</div>
                        <div class="firstChartBox">
                            <canvas id="firstChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 유저 페이지들과 footer 공동 사용 -->
    <footer th:replace="~{/common/footer::footerFragment}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script th:inline="javascript">
        const attendanceChart = /*[[${attendanceChart}]]*/

        console.log(attendanceChart)

        const chartItem = Object.keys(attendanceChart);
        const chartCount = Object.values(attendanceChart);

        console.log("chartItem: ",chartItem);
        console.log("chartCount: ",chartCount);

        const ctx = document.getElementById('firstChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: chartItem,
                datasets: [{
                    label: '해당 직원 수',
                    data: chartCount,
                    borderWidth: 1,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                    ],
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks:{
                            stepSize: 2 // 단위
                        }
                    }
                }
            }
        });

    </script>

</body>
</html>