<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 공통 복사 -->
    <link rel="stylesheet" th:href="@{/css/admin/common/admin_header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/admin_style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/admin_circleBtn.css}">
    <!-- 여기 까지 -->

    <link rel="stylesheet" th:href="@{/css/admin/admin_tktreserve.css}">
    <link rel="stylesheet" href="../../static/css/admin/admin_tktreserve.css">
</head>
<body>
    <header th:replace="~{/admin/common/admin_header::adminHeaderFragment}"></header>
    <section>
        <div class="leftBox">
            <div th:replace="~{admin/common/admin_circle_menu::adminCircleMenuFragment}"></div>
        </div>

        <div class="rightBox">
            <div class="sideMenu">
                <div class="sideTitle">예약자 관리</div>

                <div>
                    <label for="searchDate">날짜</label>
                    <input type="date" name="searchDate" id="searchDate">
                </div>
            </div>
            <form action="/admin/extractPDF" method="post" id="extractForm">
                <div class="menuMainBox">
                    <div class="tktreserve_item_box">
                    </div>
                </div>
                <button id="extractFormSubmitBtn" type="submit">추출하기</button>
            </form>
        </div>
    </section>
    <footer th:replace="~{/common/footer::footerFragment}"></footer>

    <script>
        const searchDate = document.querySelector("#searchDate");
        const dataBox = document.querySelector(".tktreserve_item_box");

        searchDate.addEventListener("change",()=>{
            dataBox.innerHTML=''
            getTktReserve();
        })

        const formatPhoneNumber = (phone) => {
            return phone.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
        };

        const getTktReserve = () =>{
            let selectedDay = searchDate.value;
            const imgList = ['umpa1.png','umpa2.png','squirrel.png']

            console.log("selectedDay : ",selectedDay)

            fetch(`/admin/getTktReserve?selectedDay=${selectedDay}`,{
                method : 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => response.json())
                .then(data =>{
                    console.log("예약자 데이터 : ",data)

                    if (data.resultList.length == 0){
                        dataBox.innerHTML=`<div class="notMatch">해당 날짜에 예약자가 없습니다.</div>`
                    } else{

                    data.resultList.forEach(data =>{
                        const randomNum = Math.floor(Math.random() * 3)

                        const item = `
                            <div class="tktreserve_item">
                                <input type="checkbox" name="select_tkt" id="select_tkt" value="${data.tktReserveId}">
                                <div class="random_img">
                                    <img src="/images/${imgList[randomNum]}" alt="사진">
                                </div>
                                <div class="tkt_names">
                                    <div>${data.tktReserveName}, </div>
                                    <div>${data.tktReserveAccomp}</div>
                                </div>
                                <div class="tkt_date">${data.tktReserveDate}</div>
                                <div class="tkt_phone">${formatPhoneNumber(data.tktReservePhone)}</div>
                            </div>
                        `

                        dataBox.innerHTML += item
                    })

                    }
                })
        }

        document.addEventListener("DOMContentLoaded", ()=>{
            getTktReserve();
        })

        const extractFormBtn = document.getElementById("extractFormSubmitBtn");
        const extractForm = document.getElementById("extractForm");
        extractFormBtn.addEventListener("click",(e)=>{
            e.preventDefault();
            const selectedTickets = [];
            const checkboxes = document.querySelectorAll("input[name='select_tkt']:checked");

            checkboxes.forEach((checkbox) => {
                selectedTickets.push(checkbox.value); // 체크된 항목의 tktReserveId 값을 배열에 저장
            });

            if (selectedTickets.length > 0) {
                // 'selectedTickets' 배열을 폼의 값으로 바로 전달하도록 처리
                const hiddenInput = document.createElement("input");
                hiddenInput.type = "hidden";
                hiddenInput.name = "selectedTickets"; // 서버에서 받을 이름
                hiddenInput.value = JSON.stringify(selectedTickets); // 체크된 ticketId들을 JSON 형식으로 저장
                extractForm.appendChild(hiddenInput); // 폼에 숨은 입력을 추가

                extractForm.submit();
            } else {
                alert("선택된 예약자가 없습니다.");
                event.preventDefault(); // 선택된 항목이 없으면 폼 제출을 막음
            }
        })
    </script>

</body>
</html>