<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주소록</title>
    <!-- 폰트 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" th:href="@{/css/approval/addressBookMain.css}">
    <style>

    </style>
</head>
<body>

    <header th:replace="~{/common/header::headerFragment}"></header>


    <section class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">주소록</div>
            <ul>
                <li><a href="/addressbook/addressBookMain">사내 직원</a></li>
                <li><a href="/addressbook/partners">협력 업체</a></li>
            </ul>
        </div>

        <!-- 메인 컨텐츠 -->
        <div class="main-content">
            <!-- 검색 바 -->
            <div class="top-bar">
                <input type="text" placeholder="이름 검색">
                <button>검색</button>
            </div>

            <!-- 테이블 -->
            <div class="table-header">

            </div>
            

        </div>

    </section>

<script>
    function search() {
        const searchValue = document.getElementById('search-input').value.trim().toLowerCase();
        const rows = document.querySelectorAll('#employee-list tr');

        rows.forEach(row => {
            const nameCell = row.children[1]; // 이름 칸
            if (nameCell.textContent.toLowerCase().includes(searchValue)) {
                row.style.display = ''; // 검색어가 포함되면 보여줌
            } else {
                row.style.display = 'none'; // 아니면 숨김
            }
        });
    }
</script>
    <footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>
