<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!-- 폰트 적용 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/footer.css}">
  <link rel="stylesheet" th:href="@{/css/common/style.css}">

  <link rel="stylesheet" th:href="@{/css/addressBook/factory.css}">
<!--  <link rel="stylesheet" href="../../static/css/addressBook/factory.css">-->
</head>
<body>
<div class="snowfall-container" id="snowContainer"></div>
<header th:replace="~{/common/header::headerFragment}"></header>

<section class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-title">주소록</div>
    <ul>
      <li><a href="/addressBook/employeeAddressBook">사내 직원</a></li>
      <li><a href="/addressBook/factoryAddressBook">협력 업체</a></li>
    </ul>
  </div>

  <div class="main-content">
    <!-- 검색 바 -->
    <div class="top-bar">
      <input type="text" id="factory-search-input" placeholder="이름 또는 부서명 검색">
      <button onclick="searchFactories()">검색</button>
    </div>


    <!-- 협력업체 리스트 -->
    <div id="factory-list">
      <!-- 협력업체 카드들이 여기에 추가됩니다 -->
    </div>

    <!-- 위로 이동 버튼 -->
    <button id="scrollToTop" title="위로 가기">▲</button>

  </div>

</section>


<footer th:replace="~{/common/footer::footerFragment}"></footer>
<script src="/js/addressBook/factory.js"></script>


</body>
</html>