<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>

    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" th:href="@{/css/board/list.css}">
    <link rel="stylesheet" th:href="@{/css/board/freeBoardRegist.css}">
    <link rel="stylesheet" href="../../static/css/board/freeBoardRegist.css">


</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div th:replace="~{/board/sidebar::sidebarFragment}"></div>

        <div class="form-container">

            <form id="freeBoardForm" action="/board/freeBoardRegist" method="post" enctype="multipart/form-data">

                <input type="hidden" id="postId" name="postId" th:value="${postDetail != null} ? ${postDetail.postId} : ''">

                <div class="BoradRegist_topBox">

                    <!-- 등록 버튼 -->
                    <div class="button-group">
                        <button type="submit" class="submit-btn">등 록</button>
                    </div>

                    <!-- 제목 -->
                    <div class="form-group">
                        <label for="title">제목:</label>
                        <input type="text" id="title" name="title" th:value="${postDetail != null} ? ${postDetail.postTitle} : ''" required/>
                    </div>

                    <!-- 분류 -->
                    <div class="form-group">
                        <label for="categoryCode">분류:</label>
                        <select id="categoryCode" name="categoryCode" onchange="onChangeSelectOption()">
                            <option value="">선택</option>
                            <option value=1 th:selected="${categoryCode == 1}">공지사항</option>
                            <option value=2 th:selected="${categoryCode == 2}">자유게시판</option>
                            <option value=3 th:selected="${categoryCode == 3}">문서양식</option>
                            <option value=4 th:selected="${categoryCode == 4}">투표</option>
                            <option value=5 th:selected="${categoryCode == 5}">이벤트</option>
                        </select>
                    </div>

                    <!-- 첨부 파일 -->
                    <div class="form-group postFileBox">
                        <label for="title">첨부파일:</label>
                        <input type="file" id="postFileList" name="postFileList" multiple>
                    </div>

                    <!-- 내용 -->
                    <div class="form-group content">
                        <label for="content">내용:</label>
                        <textarea id="content" name="content" th:text="${postDetail != null} ? ${postDetail.postContent} : ''" required></textarea>
                    </div>
                </div>

                <!-- 투표게시판 조건부 input -->
                <div id="vote-container" class="form-group BoradRegist_footerBox">
                    <!-- 투표 내용 -->
                    <div class="poll-container">
                        <!-- 아래로 항목 추가를 위한 컨테이너 -->
                        <!-- 항목 추가 버튼 -->
                        <div class="add-option-box">
                            <button id="add-option" type="button">항목 추가</button>
                        </div>

                        <div id="poll-options" class="container">
                            <!-- 기본 항목 1과 2는 삭제 버튼을 없애고 항상 표시 -->
                            <th:block th:if="!${postDetail}">
                                <div class="input-group-item">
                                    <label for="option1">항목 1 : </label>
                                    <input type="text" id="option1" name="option1" placeholder="내용을 입력하세요">
                                </div>

                                <div class="input-group-item">
                                    <label for="option2">항목 2 : </label>
                                    <input type="text" id="option2" name="option2" placeholder="내용을 입력하세요">
                                </div>
                            </th:block>
                            <th:block th:if="${postDetail}">
                                <div th:each="voteItem, stat : ${voteItemList}" class="input-group-item">
                                    <label th:for="|option${stat.index + 1}|" th:text="|항목${stat.index + 1}:|"></label>
                                    <input type="text" th:id="|option${stat.index + 1}|" th:name="|option${stat.index + 1}|" th:value="${voteItem.itemTitle}" placeholder="내용을 입력하세요">
                                </div>
                            </th:block>
                        </div>

                        <p id="error-message" style="color: #2b2b2b; display: none;">최대 항목 수는 5개입니다.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>

<script th:src="@{/js/board/freeBoardRegist.js}"></script>

</body>
</html>
