<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>

    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" th:href="@{/css/board/freeBoardRegist.css}">

</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div th:replace="~{/board/sidebar::sidebarFragment}"></div>

        <div class="form-container">
            <form id="freeBoardForm" action="/board/freeBoardRegist" method="post">

                <!-- 제출 버튼 -->
                <div class="button-group">
                    <button type="submit" class="submit-btn">등 록</button>
                </div>

                <!-- 제목 -->
                <div class="form-group">
                    <label for="title">제목:</label>
                    <input type="text" id="title" name="title">
                </div>

                <!-- 분류 -->
                <div class="form-group">
                    <label for="categoryCode">분류:</label>
                    <select id="categoryCode" name="categoryCode">
                        <option value="">선택</option>
                        <option value=1 th:selected="${categoryCode == 1}">공지사항</option>
                        <option value=2 th:selected="${categoryCode == 2}">자유게시판</option>
                        <option value=3 th:selected="${categoryCode == 3}">문서양식</option>
                        <option value=4 th:selected="${categoryCode == 4}" >투표</option>
                        <option value=5 th:selected="${categoryCode == 5}">이벤트</option>
                    </select>
                </div>


                <!-- 내용 -->
                <div class="form-group content">
                    <label for="content">내용:</label>
                    <textarea id="content" name="content"></textarea>
                </div>

                <!-- 투표게시판 조건부 input -->
                <div class="form-group" th:if="${categoryCode == 4}">
                    <!-- 투표 내용 -->
                    <div class="poll-container">
                        <div class="container">

                            <div class="input-group">
                                <label for="option1">항목 1 : </label>
                                <input type="text" id="option1" placeholder="내용을 입력하세요">
                            </div>
                            <div class="input-group">
                                <label for="option2">항목 2 : </label>
                                <input type="text" id="option2" placeholder="내용을 입력하세요">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>
