<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" th:href="@{/css/board/list.css}">
</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div th:replace="~{/board/sidebar::sidebarFragment}"></div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="top-bar">
                <button type="button" th:onclick="|location.href='@{freeBoardRegist(categoryCode=${categoryCode})}'|">
                    등 록
                </button>
            </div>

            <!-- Table -->
            <div class="table-header">
                <div class="table-cell">번호</div>
                <div class="table-cell">작성자</div>
                <div class="table-cell">제목</div>
                <div class="table-cell">작성일</div>
            </div>

            <!-- 게시물이 없을 경우 -->
            <div th:if="${#lists.isEmpty(postList)}" class="no-posts">
                게시글이 없습니다.
            </div>

            <div>
                <div th:each="post, stat : ${postList}" style="display: flex; border-bottom: 1px solid gray; padding: 10px;">
                    <div style="width: 23%;" th:text="${postList.size() - stat.index}">게시물 번호</div>
                    <div style="width: 35%;" th:text="${post.empName}">등록자</div>
                    <a style="width: 40%;" th:href="@{/board/postDetail(postId=${post.postId}, categoryCode=${categoryCode})}" th:text="${post.postTitle}">게시물 제목</a>
                    <div style="width: 30%;" th:text="${#temporals.format(post.postCreationDate, 'yyyy-MM-dd')}">날짜</div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <button>&lt;</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>&gt;</button>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>

</body>
</html>