<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" th:href="@{/css/board/list.css}">
</head>
<body>
<header th:replace="~{common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div th:replace="~{board/sidebar::sidebarFragment}"></div>

<!--        <div th:text="${LoginUserInfo}">로그인유저</div>-->
<!--        <div th:text="${categoryCode}">카테고리 코드</div>-->

        <!-- Main Content -->
        <div class="main-content">
            <div class="top-bar">

                <!-- 검색 -->
                <form action="/board/list">
                    <select name="search" id="search">
                        <option value="author">작성자</option>
                        <option value="title">제목</option>
                    </select>
                <input type="hidden" name="categoryCode" th:value="${categoryCode}">
                <input type="text" id="searchContents" name="searchContents" placeholder="검색">
                <button type="submit">검 색</button>
                </form>

                <!-- 유저일 시 공지,이벤트 게시판 등록버튼 숨김 / 관리자는 모두 나옴 -->
                <th:block th:if="${LoginUserInfo != null and (categoryCode == 2 or categoryCode == 3 or categoryCode == 4)
                and LoginUserInfo.viewAuth.getRole() == 'USER' or
                LoginUserInfo.viewAuth.getRole() == ''}">
                    <button type="button" th:onclick="|location.href='@{freeBoardRegist(categoryCode=${categoryCode})}'|">
                        등 록
                    </button>
                </th:block>
            </div>

            <!-- Table -->
            <div class="table-header">
                <div class="table-cell">번호</div>
                <div class="table-cell">작성자</div>
                <div class="table-cell">제목</div>
                <div class="table-cell">작성일</div>
            </div>

            <!-- 게시물이 없을 경우 -->
            <div th:if="${#lists.isEmpty(postList)}" class="no-posts">
                게시글이 없습니다.
            </div>

            <div class="postListBox">
                <div class="table-board table-row" th:each="post, stat : ${postList}">
                    <div class="table-cell" th:text="${postList.size() - stat.index}">게시물 번호</div>
                    <div class="table-cell" th:text="${post.empName}">등록자</div>
                    <a class="table-cell" th:href="@{/board/postDetail(postId=${post.postId}, categoryCode=${categoryCode})}" th:text="${post.postTitle}">게시물 제목</a>
                    <div class="table-cell" th:text="${#temporals.format(post.postCreationDate, 'yyyy-MM-dd')}">날짜</div>
                </div>
            </div>

            <!-- 페이지네이션 표시 -->
            <div class="pagination">
                <ul>
                    <!-- 첫 페이지 -->
                    <li class="first">
                        <a th:href="@{'/board/list?categoryCode=' + ${categoryCode} + '&page=1'}"><<</a>
                    </li>
                    <!-- 이전 페이지 -->
                    <li class="prev">
                        <a th:href="@{'/board/list?categoryCode=' + ${categoryCode} + '&page=' + ${prevPage}}" class="prev"><</a>
                    </li>

                    <!-- 페이지 번호들 -->
                    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <li th:classappend="${i == currentPage ? 'active' : ''}">
                            <a th:href="@{'/board/list?categoryCode=' + ${categoryCode} + '&page=' + ${i}}" th:text="${i}"></a>
                        </li>
                    </th:block>

                    <!-- 다음 페이지 -->
                    <li class="next">
                        <a th:href="@{'/board/list?categoryCode=' + ${categoryCode} + '&page=' + ${nextPage}}" class="next">></a>
                    </li>
                    <!-- 마지막 페이지 -->
                    <li class="last">
                        <a th:href="@{'/board/list?categoryCode='+ ${categoryCode} + '&page=' + ${totalPages}}" class="last">>></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{common/footer::footerFragment}"></footer>

</body>
</html>