<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>

    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div th:replace="~{/board/sidebar::sidebarFragment}"></div>

        <div class="form-container">
            <form action="/board/postUpdate" method="post">

                <input type="hidden" name="postId" th:value="${modify.postId}">

                <!-- 제출 버튼 -->
                <div class="button-group">
                    <button type="submit" class="submit-btn">수정완료</button>
                </div>

                <!-- 제목 -->
                <div class="form-group">
                    <label for="postTitle">제목:</label>
                    <input type="text" id="postTitle" name="postTitle" th:value="${modify.postTitle}">
                </div>

                <!-- 분류 -->
                <div class="form-group">
                    <label for="categoryCode">분류:</label>
                    <select id="categoryCode" name="categoryCode">
                        <option value="">선택</option>
                        <option value=1 th:selected="${modify.categoryCode == 1}">공지사항</option>
                        <option value=2 th:selected="${modify.categoryCode == 2}">자유게시판</option>
                        <option value=3 th:selected="${modify.categoryCode == 3}">문서양식</option>
                        <option value=4 th:selected="${modify.categoryCode == 4}">투표</option>
                        <option value=5 th:selected="${modify.categoryCode == 5}">이벤트</option>
                    </select>
                </div>

                <!-- 내용 -->
                <div class="form-group">
                    <label for="postContent">내용:</label>
                    <textarea id="postContent" name="postContent" th:text="${modify.postContent}"></textarea>
                </div>

            </form>
        </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>
