<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.refactorial.user.model.dao.UserMapper">

    <resultMap id="LoginUser" type="com.ohgiraffers.refactorial.user.model.dto.UserDTO">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empNo" column="emp_no"/>
        <result property="empAddress" column="emp_address"/>
        <result property="empEmail" column="emp_email"/>
        <result property="empJoined" column="emp_joined"/>
        <result property="annualLeave" column="annual_leave"/>
        <result property="usedAnnualLeave" column="used_annual_leave"/>
        <result property="empPwd" column="emp_pwd"/>
        <result property="profile" column="profile"/>
        <result property="empPhone" column="emp_phone"/>
        <result property="deptCode" column="dept_code"/>
        <result property="positionValue" column="position_value"/>
        <result property="viewAuth" column="view_auth"/>
    </resultMap>

    <insert id="addEmployee" parameterType="com.ohgiraffers.refactorial.user.model.dto.UserDTO">
        insert into employee
        (emp_id, emp_name, emp_no, emp_address, emp_email, emp_joined,annual_leave,emp_pwd,profile,emp_phone,dept_code,position_value,view_auth)
        values
        (#{empId},#{empName},#{empNo},#{empAddress},#{empEmail},#{empJoined},#{annualLeave},#{empPwd},#{profile},#{empPhone},#{deptCode},#{positionValue},#{viewAuth})
    </insert>

    <select id="findByUsername" parameterType="String" resultType="com.ohgiraffers.refactorial.user.model.dto.LoginUserDTO">
        SELECT
            e.emp_id AS empId,
            e.emp_name AS empName,
            e.emp_no AS empNo,
            e.emp_address AS empAddress,
            e.emp_email AS empEmail,
            e.emp_joined AS empJoined,
            e.annual_leave AS annualLeave,
            e.used_annual_leave as usedAnnualLeave,
            e.emp_pwd AS empPwd,
            e.profile AS profile,
            e.emp_phone AS empPhone,
            e.dept_code AS deptCode,
            d.dept_name AS deptName,
            e.position_value AS positionValue,
            p.position_name AS positionName,
            e.view_auth AS viewAuth
        FROM employee e , tbl_dept d, tbl_position p
        WHERE e.dept_code = d.dept_code
            and e.position_value = p.position_value
            and emp_id = #{username}
    </select>

    <select id="findDeptName" parameterType="int">

        SELECT
            dept_name
        FROM
            tbl_dept
        WHERE
            dept_code = #{deptCode};

    </select>

    <select id="findPositionName" parameterType="int">
        SELECT
            position_name
        FROM
            tbl_position
        where
            position_value = #{positionValue};
    </select>

    <update id="changePW" parameterType="map">
        UPDATE employee
        SET emp_pwd = #{enChangePW}
        WHERE emp_id = #{empId}
    </update>

    <update id="updatePersonalInfo" parameterType="map">
        UPDATE employee
        <set>
            <if test="email != null">
                emp_email = #{email},
            </if>
            <if test="phone != null">
                emp_phone = #{phone},
            </if>
            <if test="address != null">
                emp_address = #{address},
            </if>
        </set>
        WHERE emp_id = #{userId}
    </update>

</mapper>