.container {
    display: flex;
    flex-direction: row;
    height: 100%; /* 뷰포트 높이에 맞춤 */

    .sidebar {
        width: 20%; /* 사이드바 너비 */
        padding: 20px; /* 내부 여백 */
        overflow-y: auto; /* 사이드바 내용이 넘칠 경우 스크롤 */
        border-right: 1px solid black; /* 오른쪽 경계선 */

        .sidebar-title {
            font-size: 2em;
            font-weight: bold;
            color: #000;
            margin-bottom: 15px;
            margin-top: 46px;
            text-align: center;
        }

        ul {
            margin-top: 10px;
            list-style: none;
            padding: 0;
            text-align: center;

            li {
                position: relative;
                padding: 10px 0;
                cursor: pointer;
            }

            li:hover {
                color: #5C1915;
                font-weight: bold;
            }

            li::after {
                content: ''; /* 구분 바 추가 */
                display: block; /* 블록 형태로 설정 */
                width: 35%; /* 구분 바 길이 */
                height: 2px; /* 구분 바 굵기 */
                background-color: black; /* 구분 바 색상 */
                margin: 5px auto 0; /* 중앙 정렬 및 여백 */
            }

            li:last-child::after {
                display: none; /* 마지막 항목 구분 바 제거 */
            }

            .sidebar-selected{
                font-size: 1.3em;
                color: #5C1915;
            }
        }
    }

    .main-content-wrap {
        padding: 20px 0 10px;
        width: 80%;

        display: flex;
        flex-direction: column;

        .main-content {
            display: flex;
            flex-direction: column;

            padding: 46px 10px 0;
            box-sizing: border-box;
            /*max-height: 73vh;*/
            /*overflow: scroll;*/
            /*scrollbar-width: none;*/

            .room-img-content-flex {
                padding: 15px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 10px;
                margin-bottom: 20px; /* 여백 추가 */

                .room-img-content {
                    width: 30%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                .room-text-content {
                    flex: 1;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    padding-left: 2em;

                    .roomName {
                        font-size: 1.5em;
                    }

                    p {
                        font-size: 16px;
                        margin: 10px;
                    }

                    p:last-child{
                        margin-bottom: 0;
                    }
                }

                .room-reservation-button {

                    button {
                        padding: 10px 20px;
                        background-color: #5C1915;
                        color: white;
                        border: none;
                        cursor: pointer;
                        font-size: 1em;
                        border-radius: 5px;
                        /*transition: background-color 0.3s;*/
                    }

                    button:hover {
                        background-color: #3d0f0a;
                    }
                }
            }
        }

        .reserve-form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-radius: 8px;
            padding: 0 10px;
            box-sizing: border-box;

            border: solid 1px red;

            flex: 1;

            .selectDateBox{
                border: solid 1px blue;
                height: 100%;
                width: 40%;
                padding: 10px;
                box-sizing: border-box;

                #calendar{
                    height: 100%;
                }
                .fc .fc-toolbar.fc-header-toolbar {
                    margin-bottom: 0.5em;
                }

                .fc .fc-view-harness{
                    flex: 1;
                }

                .fc{
                    ::-webkit-scrollbar{
                        display: none;
                    }

                    .fc-col-header {
                        width: 100% !important;
                    }

                    .fc-daygrid-body{
                        width: 100% !important;
                        table{
                            width: 100%!important;
                        }
                    }

                    .fc-daygrid-day{
                        cursor: pointer;
                    }
                }

                .fc .fc-scroller-liquid-absolute{
                    overflow: hidden;
                }

                .fc .fc-toolbar-title{
                    font-size: 1em;
                }

                .fc .fc-button{
                    padding: 0.1em 0.5em;
                }

                .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
                    display: none;
                }
            }

            .selectInfoBox{
                width: 60%;
                padding : 10px 80px 10px 20px;
                display: flex;
                flex-direction: column;
                justify-content: start;

                align-items: start;
                box-sizing: border-box;

                >div{
                    margin-bottom: 30px;
                    font-size: 1.1em;
                }

                .timeListBox{
                    display: flex;
                    align-items: start;

                    div{
                        min-width: 10%;
                    }

                    .timeList{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        input{
                            display: none;
                        }

                        label{
                            border: solid 1px #5C1915;
                            padding: 10px 20px;
                            color: #5C1915;
                            border-radius: 10px;
                            cursor: pointer;
                        }

                        input[type="checkbox"]:checked +label{
                            background-color: #5C1915;
                            color: white;
                        }

                        input:disabled + label{
                            background-color: #4F4F4F;
                            color: white;
                            border-color: #4F4F4F;
                        }

                    }

                }

                button{
                    align-self: end;
                    padding: 10px 20px;
                    background-color: #5C1915;
                    color: white;
                    font-size: 1em;
                    border-radius: 10px;
                    border: none;
                }
            }

        }
    }
}

.modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */

    .modal-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 90%;
        max-width: 350px;
        padding: 20px;

        border-radius: 15px;
        border: solid 2px #5C1915;

        .modal-content {

            .modal-header {
                display: flex;
                flex-direction: column;
                align-items: center;

                font-size: 1.5em;
                border: none;

                padding-bottom: 0;

                button {
                    align-self: end;

                    height: 35px;
                    margin: 0;
                    padding: 0;

                    background: none;
                    border: none;

                    cursor: pointer;
                }

            }

            form {
                padding: 0 5%;
                color: #4F4F4F;

                .modal-body {
                    margin: 0;
                    padding: 1em;

                    display: flex;
                    flex-direction: column;

                    .reservationMsg{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "jua", "Noto Sans KR", sans-serif;

                        div{
                            width: fit-content;
                        }
                    }
                }

                .modal-footer {
                    display: flex;
                    justify-content: center;
                    border: none;
                    padding-top: 0;

                    button {
                        background-color: #5C1915;
                        color: white;
                        border: none;
                        width: 90%;
                        padding: 5px;
                        font-size: 1.3em;
                        text-align: center;

                        border-radius: 30px;
                        cursor: pointer;
                    }

                }

                #confirmCodeBtn,
                #verificationCode,
                label[for="verificationCode"],
                #verificationCode + p {
                    display: none;
                }
            }
        }
    }
}

