html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    width: 20%;
    border-right: 1px solid #5C1915;
    padding: 20px;
    overflow-y: auto;
}

.sidebar-title {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
    margin-top: 46px;
    text-align: center;
}

.sidebar ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.sidebar li {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.sidebar li::after {
    content: '';
    display: block;
    width: 35%;
    height: 2px;
    background-color: black;
    margin: 5px auto 0;
}

.sidebar li:last-child::after {
    display: none;
}

.sidebar li:hover {
    font-family: 'Noto Sans KR', Arial, sans-serif;
    color: #5C1915;
    font-weight: 1000;
}

.form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#replyMailForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.sendMail_topBox {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-group {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    height: fit-content;
}

.submit-btn {
    background-color: #5C1915;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #7e2411;
}

.form-group {
    width: 100%;
    height: 5%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    width: 10%;
    text-align: center;
}

.form-group input,
.form-group textarea {
    width: 80%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.form-group + .content {
    flex: 1;
}

.form-group + .content label {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form-group + .content textarea {
    width: 80%;
    height: 99%;
    padding: 5px 10px;
    box-sizing: border-box;
}
