<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.inquiry.model.dao.AdminInquiryMapper">
    <resultMap id="AdminInquiryResultMap" type="com.ohgiraffers.refactorial.inquiry.model.dto.InquiryDTO">
        <id property="iqrValue" column="iqr_value" />
        <result property="iqrTitle" column="iqr_title" />
        <result property="iqrDetails" column="iqr_details" />
        <result property="answerStatus" column="answer_status" />
        <result property="empId" column="emp_id" />
        <result property="answerDetail" column="answer_detail" />
        <result property="iqrCreationDate" column="iqr_creationDate" />
        <result property="attachment" column="attachment"/>
    </resultMap>

    <!-- 전체문의 조회 -->
    <select id="getAllInquiries" resultMap="AdminInquiryResultMap">
        SELECT * FROM employee e JOIN tbl_inquiry i ON e.emp_id = i.emp_id
        ORDER BY i.iqr_creationDate
    </select>

    <!-- 미답변문의 전체 조회-->
    <select id="getAllNoAnswerInquires" resultMap="AdminInquiryResultMap">
        SELECT * FROM employee e JOIN tbl_inquiry i ON e.emp_id = i.emp_id
        WHERE answer_status = 0
        ORDER BY i.iqr_creationDate
    </select>

    <!-- 답변문의 전체 조회-->
    <select id="getAllAnswerList" resultMap="AdminInquiryResultMap">
        SELECT * FROM employee e JOIN tbl_inquiry i ON e.emp_id = i.emp_id
        WHERE answer_status = 1
        ORDER BY i.iqr_creationDate
    </select>


    <!-- 관리자 상세 페이지 조회-->
    <select id="adminInquiryDetail" resultMap="AdminInquiryResultMap">
        SELECT *
        FROM employee e JOIN tbl_inquiry i ON e.emp_id = i.emp_id
        WHERE iqr_value = #{iqrValue}
    </select>

    <!-- 관리자 답변 상태 변경-->
    <update id="updateAnswer">
        UPDATE tbl_inquiry
        SET answer_status = 1, answer_detail = #{answerDetail}
        WHERE iqr_value = #{iqrValue}
    </update>



</mapper>