<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.booking.model.dao.ReservationDAO">

    <insert id="insertReservation" parameterType="com.ohgiraffers.refactorial.booking.model.dto.ReservationDTO">
        INSERT INTO reservations (reservation_id, reservation_date, emp_id, conference_room_no)
        VALUES (#{reservationId}, #{reservationDate}, #{empId}, #{conferenceRoomNo})
    </insert>

</mapper>
