<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.booking.model.dao.CabinetMapper">

    <resultMap id="CabinetResultMap" type="com.ohgiraffers.refactorial.booking.model.dto.CabinetDTO">
        <result property="roomName" column="room_name"/>
        <result property="conferenceRoomNo" column="ConferenceRoom_no"/>
        <result property="fixtures" column="fixtures"/>
        <result property="roomLocation" column="room_location"/>
        <result property="cabinetImg" column="cabinet_img"/>
    </resultMap>

    <select id="getAllCabinets" resultMap="CabinetResultMap">
        select * from tbl_cabinet
    </select>

    <select id="getCabinetInfo" parameterType="string" resultMap="CabinetResultMap">
        SELECT
            *
        FROM
            tbl_cabinet
        WHERE
            ConferenceRoom_no = #{roomNo}
    </select>

</mapper>