<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.booking.model.dao.ReservationDAO">

    <resultMap id="ReservationResultMap" type="com.ohgiraffers.refactorial.booking.model.dto.ReservationDTO">
        <result property="reservationId" column="reservation_id"/>
        <result property="reservationDate" column="reservation_date"/>
        <result property="empId" column="emp_id"/>
        <result property="conferenceRoomNo" column="ConferenceRoom_no"/>
        <result property="reservationStartTime" column="reservationStartTime"/>
        <result property="reservationEndTime" column="reservationEndTime"/>
    </resultMap>

    <!-- 모든 회의실 예약을 가져오는 쿼리 -->
    <select id="getAllReservations" resultType="com.ohgiraffers.refactorial.booking.model.dto.ReservationDTO" resultMap="ReservationResultMap">
        SELECT *
        FROM tbl_reservation
    </select>

    <!-- 예약 정보를 데이터베이스에 삽입하는 쿼리 -->
    <insert id="insertReservation" parameterType="com.ohgiraffers.refactorial.booking.model.dto.ReservationDTO">
        INSERT INTO tbl_reservation (reservation_id, reservation_date, emp_id, ConferenceRoom_no, reservationStartTime, reservationEndTime)
        VALUES (#{reservationId}, #{reservationDate}, #{empId}, #{conferenceRoomNo}, #{reservationStartTime}, #{reservationEndTime})
    </insert>

    <!-- 예약을 삭제하는 쿼리 -->
    <delete id="deleteReservationById" parameterType="java.lang.String">
        DELETE FROM tbl_reservation
        WHERE reservation_id = #{reservationId}
    </delete>

    <!-- 특정 날짜와 시간 범위에 대해 예약 가능 여부를 확인하는 쿼리 -->
    <select id="checkReservationConflict" resultType="com.ohgiraffers.refactorial.booking.model.dto.ReservationDTO">
        SELECT *
        FROM tbl_reservation
        WHERE conferenceRoom_no = #{conferenceRoomNo}
        AND (
        (reservationStartTime &lt; #{endTime} AND reservationEndTime &gt; #{startTime})
        )
    </select>

    <select id="getUserReservations" parameterType="java.lang.String" resultMap="ReservationResultMap">
        SELECT *
        FROM tbl_reservation
        WHERE emp_id = #{empId}
        ORDER BY ConferenceRoom_no ASC, reservation_date ASC, reservationStartTime ASC
    </select>
</mapper>