<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">
<!--여기까지 공동 복사-->

</head>
<body>

    <header th:replace="~{/common/header::headerFragment}"></header>
    <section th:replace="~{/common/test::testFragment}"></section>
    <section>

        <h1>Welcome, <span th:text="${userId}"></span>!</h1>
        <h3>Your roles:</h3>
        <ul>
            <li th:each="role : ${roles}" th:text="${role}"></li>
        </ul>

    </section>
    <footer th:replace="~{/common/footer::footerFragment}"></footer>

    <script>
        const message = `[[${message}]]`

        if (message){
            console.log(message);
        }
    </script>

    <script th:inline="javascript">
        // userDTO 객체를 JavaScript로 전달
        var userDTO = [[${userDTO}]];

        // userDTO.viewAuth 값에 따라 버튼의 클릭 이벤트 설정
        var userIcon = document.querySelector('.headerIconBox img[src="../images/user.svg"]');

        // 클릭 이벤트 리스너 추가
        userIcon.addEventListener('click', function() {
            if (userDTO.viewAuth == 'USER') {
                location.href = '/user/approvalMain';  // user 페이지로 이동
            } else {
                location.href = '/admin/main';  // admin 페이지로 이동
            }
        });

        console.log(userDTO); // userDTO 확인용
        console.log("viewAuth",userDTO.viewAuth)
    </script>

</body>
</html>