<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.approval.model.dao.ApprovalMapper">

    <insert id="insertPm" parameterType="map">
        INSERT INTO tbl_pm (pm_id, pm_title, pm_create, pm_category, pm_attachment, emp_id)
        VALUES (#{pmId}, #{title}, #{date}, #{category}, #{attachment}, #{creatorId})
    </insert>


    <insert id="insertApprover" parameterType="map">
        INSERT INTO tbl_approval (emp_id, pm_id, pm_status)
        VALUES
        <foreach collection="approvers" item="approver" separator=",">
            (#{approver}, #{pmId}, '대기 중')
        </foreach>
    </insert>

<!--    <insert id="insertReferrer" parameterType="map">-->
<!--        INSERT INTO tbl_pm_referrer (pm_id, emp_id)-->
<!--        VALUES (#{pmId}, #{empId})-->
<!--    </insert>-->


    <select id="getDocumentDetails" resultType="com.ohgiraffers.refactorial.approval.model.dto.DocumentDTO">
        SELECT
            pm.pm_id AS pmId,
            pm.pm_title AS title,
            pm.pm_create AS createDate,
            pm.pm_category AS category,
            pm.pm_status AS status,
            pm.pm_attachment AS attachment,
            pm.emp_id AS creator,
            JSON_UNQUOTE(JSON_EXTRACT(pm.pm_referrer, '$')) AS referrers, -- JSON 파싱
            GROUP_CONCAT(ap.emp_id) AS approvers -- 승인자 리스트
        FROM
            tbl_pm pm
                LEFT JOIN
            tbl_approval ap ON pm.pm_id = ap.pm_id
        GROUP BY
            pm.pm_id;
    </select>

    <select id="getWaitingDocuments" resultType="com.ohgiraffers.refactorial.approval.model.dto.DocumentDTO">
        SELECT
            temp.*,
            (@rownum := @rownum + 1) AS rowNum
        FROM (
                 SELECT
                     pm.pm_id AS pmId,
                     pm.pm_title AS title,
                     pm.pm_create AS createDate,
                     pm.pm_category AS category,
                     pm.pm_status AS status,
                     pm.pm_attachment AS attachment,
                     emp.emp_name AS creatorName,
                     GROUP_CONCAT(ap.emp_id) AS approvers
                 FROM
                     tbl_pm pm
                         INNER JOIN employee emp ON pm.emp_id = emp.emp_id
                         INNER JOIN tbl_approval ap ON pm.pm_id = ap.pm_id
                 WHERE
                     pm.pm_status = '대기 중'
                   AND  ap.emp_id = #{empId}
                 GROUP BY
                     pm.pm_id, pm.pm_create
                 ORDER BY
                     pm.pm_create DESC
             ) temp,
             (SELECT @rownum := 0) r;

    </select>


    <select id="findEmployeeNameById" resultType="String">
        SELECT emp_name FROM employee WHERE emp_id = #{employeeId}
    </select>

    <insert id="saveApprovers" parameterType="map">
        INSERT INTO tbl_approval (emp_id, pm_id, pm_status)
        VALUES
        <foreach collection="approvers" item="approver" index="index" separator=",">
            (#{approver}, #{pmId}, '대기 중')
        </foreach>
    </insert>

        <!-- 참조 문서 조회 -->
        <select id="getReferenceDocuments" resultType="com.ohgiraffers.refactorial.approval.model.dto.DocumentDTO">

                SELECT
                    pm.pm_id AS pmId,
                    pm.pm_title AS title,
                    pm.pm_create AS createDate,
                    pm.pm_category AS category,
                    pm.pm_status AS status,
                    pm.pm_attachment AS attachment,
                    emp.emp_name AS creatorName,
                    pm.pm_referrer AS referrers
                FROM tbl_pm pm
                         LEFT JOIN employee emp ON pm.emp_id = emp.emp_id
                WHERE EXISTS (
                    SELECT 1
                    FROM tbl_pm_referrer pr
                    WHERE pr.pm_id = pm.pm_id
                      AND pr.emp_id = #{empId}
                )
                ORDER BY pm.pm_create DESC



        </select>


    <!-- 참조자 저장 -->
    <insert id="saveReferrers" parameterType="map">
        INSERT INTO tbl_pm_referrer (pm_id, emp_id)
        VALUES
        <foreach collection="referrers" item="referrer" separator=",">
            (#{pmId}, #{referrer})
        </foreach>
    </insert>


</mapper>