<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.approval.model.dao.ApprovalMapper">

    <insert id="insertPm" parameterType="map">
        insert into tbl_pm (pm_id,pm_title,pm_create,pm_category,pm_attachment)
             values (#{pmId},#{title},#{date},#{category},#{attachment})
    </insert>

    <insert id="insertApprover" parameterType="map">
        INSERT INTO tbl_approval (emp_id, pm_id, pm_status)
        VALUES (#{empId}, #{pmId}, #{pmStatus})
    </insert>

    <insert id="insertReferrer" parameterType="map">
        INSERT INTO tbl_pm_referrer (pm_id, emp_id)
        VALUES (#{pmId}, #{empId})
    </insert>

</mapper>