<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Conference Room</title>
</head>
<body>
<h1>Book Conference Room</h1>
<form action="/reserve" method="post">
    <input type="hidden" name="conferenceRoomNo" th:value="${roomNo}">
    <label for="empId">Employee ID:</label>
    <input type="hidden" name="empId" th:value="${session.LoginUserInfo.empId}">
    <br>
    <label for="reservationDate">Reservation Date:</label>
    <input type="date" id="reservationDate" name="reservationDate" required>
    <br>
    <label for="reservationStartTime">Start Time:</label>
    <input type="time" id="reservationStartTime" name="reservationStartTime" required>
    <br>
    <label for="reservationEndTime">End Time:</label>
    <input type="time" id="reservationEndTime" name="reservationEndTime" required>
    <br>
    <button type="submit">Reserve</button>
</form>
</body>
</html>
