@font-face {
    font-family : 'jua';
    src : url("../BMJUA_ttf.ttf")
}

body{
    font-family: "jua","Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.myPageSection{
    padding: 30px 55px 10px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .pageTitle{
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.9em;
    }

    .sectionBox{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .topBox{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: space-between;

            .profileImg{
                width: 31.1%;

                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 45%;
                    aspect-ratio: 1 / 1 ;
                    border-radius: 50%;
                    background-position: center;
                    border: solid 5px black;
                    padding: 10px;

                    box-shadow: 3px 3px 5px rgba(79, 79, 79, 40%);
                }
            }

            .personal_Info{
                width: 67%;
                height: 100%;

                padding: 2% 2%;
                box-sizing: border-box;

                border: solid 1px black;
                border-radius: 10px;

                font-size: 1.3em;

                box-shadow: 3px 3px 5px rgba(79, 79, 79, 40%);

                .InfoLine{
                    display: flex;
                    justify-content: start;
                    margin-bottom: 2.3%;

                    div:first-child{
                        margin-right: 5%;
                    }

                    div{
                        display: flex;
                        margin-right: 9%;

                        p{
                            margin: 0;
                            padding: 0;
                        }

                        p:first-child{
                            margin-right: 10px;
                        }

                        .personal_InfoBtn{
                            background: none;
                            border: none;

                            cursor: pointer;
                        }

                        input,textarea{
                            width: 65%;
                            color: black;
                            font-size: 1em;
                            font-family: "jua", "Noto Sans KR", sans-serif;

                            /*display: flex;*/
                            /*align-items: center;*/
                        }

                        input[class="modifyInfo"]:disabled{
                            background: none;
                            color: black;
                            border: none;
                        }

                        textarea:disabled {
                            background: none;
                            border: none;
                            color: black;
                            word-break: break-all;
                            word-wrap: break-word;
                            resize: none;
                        }
                    }

                    .personal_InfoBtnBox{
                        min-width: 40%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 8px 10px;

                        border: solid 1px black;

                        height: fit-content;

                        button{
                            height: 30%;
                            background-color: #5C1915;
                            color: white;
                            padding: 5px 15px;
                            border-radius: 10px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .modifyInfoSave{
                        display: none;

                        button{
                            background-color: #5C1915;
                            color: white;
                            border-radius: 10px;
                            padding: 10px;
                            height: 70%;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                .InfoLine:last-child{
                    margin-bottom: 0;
                }

                .InfoLine:first-child > div:last-child,
                .InfoLine:last-child > div:last-child{
                    margin-left: auto;
                }
            }
        }

        .underBox{
            width: 100%;
            height: 56.5%;

            display: flex;
            justify-content: space-between;

            .personalCalender{
                width: 31.1%;
                height: 100%;

                /*border: solid 2px #5C1915;*/

                box-shadow: 3px 3px 5px rgba(79, 79, 79, 40%);
            }

            .personalVacation{
                width: 67%;
                height: 100%;

                display: flex;
                justify-content: space-between;

                div{
                    width: 32%;
                    padding: 20px 4%;

                    box-shadow: 3px 3px 5px rgba(79, 79, 79, 40%);

                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    font-size: 1.5em;

                    box-sizing: border-box;

                    position: relative;

                    p{
                        align-self: start;
                        justify-items: start;
                        margin-top: 0;
                    }

                    .circle{
                        width: 80%;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-size: 2em;

                        box-sizing: border-box;

                        position: absolute;

                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%); /* 자신의 크기만큼 이동해 정확히 가운데 */
                    }

                    .usedAnnualLeave{
                        background-color: rgba(149,51,51,0.2);
                        color: #953333 ;
                    }
                    .annualLeave{
                        background-color: rgba(149,51,139,0.2);
                        color: #95338B ;
                    }
                    .work_month{
                        background-color: rgba(86,51,147,0.2);
                        color: #463395 ;
                    }
                }

            }
        }
    }
}

.modal{
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */

    .modal-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 90%;
        max-width: 470px;
        padding: 20px;

        border-radius: 15px;
        border: solid 2px #5C1915;

        .modal-content {

            .modal-header {
                display: flex;
                flex-direction: column;
                align-items: center;

                font-size: 1.5em;
                border: none;

                padding-bottom: 0;

                button {
                    align-self: end;

                    height: 35px;
                    margin: 0;
                    padding: 0;

                    background: none;
                    border: none;

                    cursor: pointer;
                }

            }

            form {
                padding: 0 10%;
                color: #4F4F4F;

                .modal-body {
                    margin: 0;
                    padding: 1em;

                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 5px 20px;
                        font-size: 1.2em;
                        border-radius: 20px;
                        margin-bottom: 20px;
                    }

                    input:last-child{
                        margin-bottom: 0;
                    }

                    input[class="error"]{
                        margin-bottom: 0;
                    }

                    p {
                        display: none;
                    }

                    p[class="error"] {
                        color: #bf0603;
                        display: block;
                    }

                }

                .modal-footer {
                    display: flex;
                    justify-content: center;
                    border: none;
                    padding-top: 0;

                    button {
                        background-color: #5C1915;
                        color: white;
                        border: none;
                        width: 100%;
                        padding: 10px;
                        font-size: 1.5em;
                        text-align: center;

                        border-radius: 30px;
                        cursor: pointer;
                    }

                }
            }
        }
    }
}

/*캘린더*/

#calendar{
    height: 100%;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1em;
}

.fc{
    ::-webkit-scrollbar{
        display: none;
    }

    .fc-col-header {
        width: 100% !important;
    }

    .fc-daygrid-body{
        width: 100% !important;
        table{
            width: 100%!important;
        }
    }
}

.fc .fc-scroller-liquid-absolute{
    overflow: hidden;
}

.fc .fc-toolbar-title{
    font-size: 1em;
}

.fc .fc-button{
    padding: 0.1em 0.5em;
}

.fc-h-event{
    border: none;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
    /*display: none;*/
}
