@font-face {
    font-family : 'jua';
    src : url("../BMJUA_ttf.ttf")
}

body{
    font-family: "jua","Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.myPageSection{
    padding: 30px 55px 60px;

    .pageTitle{
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.9em;
    }

    .sectionBox{
        border: solid 1px red;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .topBox{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: space-between;

            .profileImg{
                border: solid 1px blue;
                width: 31.1%;

                display: flex;
                justify-content: center;
                align-items: center;


                img{
                    width: 45%;
                    aspect-ratio: 1 / 1 ;
                    border-radius: 50%;
                    background-position: center;
                    border: solid 5px black;
                    padding: 10px;
                }
            }

            .personal_Info{
                border: solid 1px blue;
                width: 67%;
                height: 100%;
            }
        }

        .underBox{
            width: 100%;
            height: 56.5%;

            display: flex;
            justify-content: space-between;

            .personalCalender{
                border: solid 1px green;
                width: 31.1%;
                height: 100%;
            }

            .personalVacation{
                border: solid 1px green;
                width: 67%;
                height: 100%;
            }

        }
    }
}
