<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/common/footer.css">
</head>
<body>

    <footer th:fragment="footerFragment">
        <div class="footerBox">
            &copy;ReCoder 2024 - Groupware Service  |  언어 - 한국어  |  서울특별시 서대문구 연세로 8-1 버티고타워 7층
        </div>
    </footer>

</body>
</html>