<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
<!--    <link rel="stylesheet" href="../../static/css/common/header.css">-->
</head>
<body>

        <header th:fragment="headerFragment">
            <div class="headerBox">
                <div class="headerLeft">
                    <div>
                        <img src="/images/logo_vertical.png" alt="로고" onclick="location.href='/user'">
                    </div>
                    <div class="menu_box">
                        <!-- 게시판 -->
                        <div class="menu_item">
                            <p class="menu_title" onclick="location.href='/board/list?categoryCode=1'">게시판</p>
                            <ul class="submenuBox">
                                <li onclick="location.href='/board/list?categoryCode=1'">공지사항</li>
                                <li onclick="location.href='/board/list?categoryCode=2'">자유게시판</li>
                                <li onclick="location.href='/board/list?categoryCode=3'">문서 양식</li>
                                <li onclick="location.href='/board/list?categoryCode=4'">투표게시판</li>
                                <li onclick="location.href='/board/list?categoryCode=5'">이벤트</li>
                            </ul>
                        </div>

                        <!-- 전자결재 -->
                        <div class="menu_item" onclick="location.href='/user/approvalMain'">
                            <p class="menu_title">전자결제</p>
                            <ul class="submenuBox">
                                <li>대기 중</li>
                                <li>완료</li>
                                <li>반려</li>
                                <li>내가 작성한</li>
                                <li>진행 중</li>
                            </ul>
                        </div>

                        <!-- 업무공유 -->
                        <div class="menu_item">
                            <p class="menu_title" onclick="location.href='/user/allWork'">업무공유</p>
                            <ul class="submenuBox">
                                <li>전체 업무</li>
                                <li>업무 공유</li>
                            </ul>
                        </div>

                        <!-- 예약 -->
                        <div class="menu_item" onclick="location.href='/booking'">
                            <p class="menu_title">예 약</p>
                            <ul class="submenuBox">
                                <li onclick="location.href='/booking'">예약하기</li>
                                <li onclick="location.href='/booking/myBookingList'">예약내역</li>
                            </ul>
                        </div>

                        <!-- 골든 티켓 -->
                        <div class="menu_item">
                            <p class="menu_title" onclick="location.href='/goldTicket'">골든 티켓</p>
                        </div>

                        <!-- 자사 페이지 -->
                        <div class="menu_item" onclick="location.href='/zasaPage/product'">
                            <p class="menu_title">자사 페이지</p>
                            <ul class="submenuBox">
                                <li>제품 페이지</li>
                                <li>교육 페이지</li>
                            </ul>
                        </div>

                        <!-- 주소록 -->
                        <div class="menu_item">
                            <p class="menu_title" onclick="location.href='/addressBook/employeeAddressBook'">주소록</p>
                            <ul class="submenuBox">
                                <li>사내 직원</li>
                                <li>협력 업체</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="headerIconBox">
                    <div onclick="location.href='/user/inquiry'">
                        <img src="/images/question.svg">
<!--                        <img src="../../static/images/question.svg">-->
                    </div>
                    <div onclick="location.href='/user/mail'">
                        <img src="/images/mail.svg">
                    </div>
                    <div class="myPageIcon">
                        <img src="/images/user.svg" alt="마이페이지">

                        <div class="submenuBox">
                            <div th:text="|안녕하세요, ${LoginUserInfo.empName}님|">
                            </div>
                            <ul>
                                <form action="/auth/logout" method="post">
                                    <button  type="submit">로그아웃</button>
                                </form>
                                <li>
                                    <a class="myPage" th:href="${LoginUserInfo != null
                                                    ? (LoginUserInfo.viewAuth != null
                                                    ? (LoginUserInfo.getRole()[0] == 'USER'
                                                    ? '/user/myPage'
                                                    : (LoginUserInfo.getRole()[0] == 'ADMIN'
                                                    ? '/admin/main'
                                                    : '/auth/login'))
                                                    : '/auth/login')
                                                    : '/auth/login'}">
                                        마이페이지
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
</body>
</html>