<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.zasaPage.model.dao.ZasaPageMapper">
    <select id="getAllProducts" resultType="com.ohgiraffers.refactorial.zasaPage.model.dto.ProductDTO">
        SELECT
            prod_image_path AS image,
            prod_name AS name,
            CONCAT(FORMAT(prod_price, 0), '원') AS price,
            prod_description AS description
        FROM tbl_product
        WHERE prod_status = '판매'
        ORDER BY created_at
    </select>
</mapper>