<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mailMain</title>
    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/mail/mailMain.css">
</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">사내 메일</div>
            <ul>
<!--                <li th:onclick="|location.href='@{/user/mail}'|">전체 메일</li>-->
                <li th:onclick="|location.href='@{/mail/sentMails}'|">보낸 메일</li>
                <li th:onclick="|location.href='@{/mail/receivedMails}'|">받은 메일</li>
<!--                <li th:onclick="|location.href='@{/mail/mailBin}'|">휴지통</li>-->
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="top-bar">
                <button type="button" th:onclick="|location.href='@{/mail/sendMail}'|">
                    메일 쓰기
                </button>
            </div>

            <!-- Table -->
            <div class="table-header">
                <div class="table-cell">보낸 사람</div>
                <div class="table-cell">받는 사람</div>
                <div class="table-cell">제목</div>
                <div class="table-cell">작성일</div>
            </div>

            <!-- Table body -->
            <div th:each="mail : ${receivedMails}">
                <div class="table-row">
                    <!-- 보낸 사람 -->
                    <div class="table-cell" th:text="${mail.senderEmpName}"></div>
                    <!-- 받는 사람 -->
                    <div class="table-cell" th:text="${mail.receiverEmpName}"></div>
                    <!-- 제목, 클릭 시 mailDetail로 이동 -->
                    <div class="table-cell">
                        <a th:href="@{'/mail/detail'(emailId=${mail.emailId})}" th:text="${mail.emailTitle}"></a>
                    </div>
                    <!-- 작성일 -->
                    <div class="table-cell" th:text="${mail.sentDate}"></div>
                </div>
            </div>

            <div th:each="mail : ${sentMails}">
                <div class="table-row">
                    <!-- 보낸 사람 -->
                    <div class="table-cell" th:text="${mail.senderEmpId}"></div>
                    <!-- 받는 사람 -->
                    <div class="table-cell" th:text="${mail.receiverEmpId}"></div>
                    <!-- 제목, 클릭 시 mailDetail로 이동 -->
                    <div class="table-cell">
                        <a th:href="@{'/mail/detail'(emailId=${mail.emailId})}" th:text="${mail.emailTitle}"></a>
                    </div>
                    <!-- 작성일 -->
                    <div class="table-cell" th:text="${#dates.format(mail.sentDate, 'yyyy-MM-dd')}"></div>
                </div>
            </div>

        </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>
