<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>receivedMail</title>
</head>
<body>
<h1>내가 받은 메일</h1>
<table>
    <thead>
    <tr>
        <th>메일 제목</th>
        <th>발송일</th>
        <th>발신자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mail : ${receivedMails}">
        <td th:text="${mail.emailTitle}"></td>
        <td th:text="${mail.sentDate}"></td>
        <td th:text="${mail.senderEmpId}"></td>
        <td th:text="${mail.senderEmpId}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
