<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>replyMail</title>
  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/footer.css">
  <link rel="stylesheet" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/mail/replyMail.css">

</head>
<body>
<header th:replace="~{common/header::headerFragment}"></header>
<section>
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-title">사내 메일</div>
      <ul>
        <li th:onclick="|location.href='@{/user/mail}'|">전체 메일</li>
        <li th:onclick="|location.href='@{/mail/sentMails}'|">보낸 메일</li>
        <li th:onclick="|location.href='@{/mail/receivedMails}'|">받은 메일</li>
        <li th:onclick="|location.href='@{/mail/mailBin}'|">휴지통</li>
      </ul>
    </div>

    <div class="form-container">
      <form id="replyMailForm" th:action="@{/mail/reply}" method="post">
        <div class="sendMail_topBox">
          <!-- 제출 버튼 -->
          <div class="button-group">
            <button type="submit" class="submit-btn">답신 보내기</button>
          </div>

          <!-- 제목 -->
          <div class="form-group">
            <label for="emailTitle">제목:</label>
            <input type="text" id="emailTitle" name="emailTitle"
                   th:value="'Re: ' + ${originalMail.emailTitle}" required/>
          </div>

          <!-- 수신자 -->
          <div class="form-group">
            <label for="receiverEmpIds">수신자:</label>
            <input type="text" id="receiverEmpIds" name="receiverEmpIds"
                   th:value="${originalMail != null ? originalMail.senderEmpId : ''}" readonly/>
          </div>

          <!-- 내용 -->
          <div class="form-group content">
            <label for="emailContent">내용:</label>
            <textarea id="emailContent" name="emailContent" required></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<footer th:replace="~{common/footer::footerFragment}"></footer>
</body>
</html>