<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sendMail</title>
</head>
<body>
<h1>메일 보내기</h1>

<form action="#" th:action="@{/mail/sendMail}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="senderEmpId" th:value="${session.LoginUserInfo.empId}"/>
    <div>
        <label for="emailTitle">메일 제목</label>
        <input type="text" id="emailTitle" name="emailTitle"  required/>
    </div>

    <div>
        <label for="emailContent">메일 내용</label>
        <textarea id="emailContent" name="emailContent" required></textarea>
    </div>

    <div>
        <label for="receiverEmpId">수신자 사원번호</label>
        <input type="text" id="receiverEmpId" name="receiverEmpId"  required/>
    </div>

    <div>
        <button type="submit">메일 보내기</button>
    </div>
</form>

</body>
</html>
