<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" href="/css/approval/approvalPage.css">
</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section class="wrapper">
        <div class="sidebar">
            <div class="sidebar-title">사내 메일</div>
        </div>

        <div class="main-content">

        </div>
</section>
    <footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>