<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>inquiryList</title>

    <!-- 폰트 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry/inquiryList.css}">

</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">1:1 문의</div>
            <ul>
                <li th:onclick="|location.href='@{/user/inquiry}'|">1:1 문의하기</li>
                <li th:onclick="|location.href='@{/inquiry/inquiryList}'|">문의 내역</li>
            </ul>
        </div>

            <!-- Main Content -->
            <div class="main-content">
                <div class="top-bar">
                    <button type="button" th:onclick="|location.href='@{/user/sendInquiry}'|">
                        문의 하기
                    </button>
                </div>

                <!-- Table -->
                <div class="table-header">
                    <div class="table-cell">제목</div>
                    <div class="table-cell">작성일</div>
                    <div class="table-cell">상태</div>
                </div>

                <!-- Table body -->
                <div th:each="sentInquiry : ${sentInquiries}">
                    <div class="table-row">
                        <!-- 제목, 클릭 시 inquiryDetail 로 이동 -->
                        <div class="table-cell" th:text="${sentInquiry.iqrDetails}">
                            <a th:href="@{'/inquiry/detail'(iqrValue=${sentInquiry.iqrValue})}" th:text="${sentInquiry.iqrTitle}"></a>
                        </div>
                        <!-- 작성일 -->
                        <div class="table-cell" th:text="${sentInquiry.iqrCreationDate}"></div>
                        <!-- 상태 -->
                        <div class="table-cell" th:text="${sentInquiry.answerStatus}"></div>
                    </div>
                </div>
            </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>