<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sendInquiry</title>

    <!-- 폰트 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry/sendInquiry.css}">

</head>
<body>
<header th:replace="~{common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">1:1 문의</div>
            <ul>
                <li th:onclick="|location.href='@{/user/inquiry}'|">1:1 문의하기</li>
                <li th:onclick="|location.href='@{/inquiry/inquiryList}'|">문의 내역</li>
            </ul>
        </div>

        <div class="form-container">
            <form id="sendInquiryForm" th:action="@{/inquiry/sendInquiry}" method="post" enctype="multipart/form-data">

                <div class="sendInquiry_topBox">

                    <!-- 제출 버튼 -->
                    <div class="button-group">
                        <button type="submit" class="submit-btn">등 록</button>
                    </div>

                    <!-- 제목 -->
                    <div class="form-group">
                        <label for="iqrTitle">제목:</label>
                        <input type="text" id="iqrTitle" name="iqrTitle" required>
                    </div>

                    <!-- 첨부 파일 -->
                    <div class="form-group inquiryFileBox">
                        <label for="inquiryFiles">첨부파일:</label>
                        <input type="file" id="inquiryFiles" name="inquiryFiles" multiple>
                    </div>

                    <!-- 내용 -->
                    <div class="form-group content">
                        <label for="iqrDetails">내용:</label>
                        <textarea id="iqrDetails" name="iqrDetails" required></textarea>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<footer th:replace="~{common/footer::footerFragment}"></footer>
</body>
</html>
