<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.mail.model.dao.MailEmployeeMapper">

    <!-- 회원 이름으로 검색 -->
    <select id="searchMailEmployees" resultType="com.ohgiraffers.refactorial.mail.model.dto.MailEmployeeDTO">
        SELECT
        e.emp_id,
        e.emp_name,
        e.emp_no,
        e.emp_address,
        e.emp_email,
        e.emp_joined,
        e.annual_leave,
        e.emp_pwd,
        e.profile,
        e.emp_phone,
        e.dept_code,
        e.position_value,
        e.view_auth,
        d.dept_name AS deptName,          -- AS를 사용하여 필드 이름을 DTO 와 일치시킴
        p.position_name AS positionName   -- AS를 사용하여 필드 이름을 DTO 와 일치시킴
        FROM
        employee e
        JOIN
        tbl_dept d ON e.dept_code = d.dept_code
        JOIN
        tbl_position p ON e.position_value = p.position_value
        WHERE
        e.emp_name LIKE CONCAT('%', #{searchReceiverInput}, '%')
    </select>

    <!-- 전체직원조회  -->
    <select id="getAllMailEmployees" resultType="com.ohgiraffers.refactorial.mail.model.dto.MailEmployeeDTO">
        SELECT
        e.emp_id,
        e.emp_name,
        e.emp_no,
        e.emp_address,
        e.emp_email,
        e.emp_joined,
        e.annual_leave,
        e.emp_pwd,
        e.profile,
        e.emp_phone,
        e.dept_code,
        e.position_value,
        e.view_auth,
        d.dept_name AS deptName,          -- AS를 사용하여 필드 이름을 DTO 와 일치시킴
        p.position_name AS positionName   -- AS를 사용하여 필드 이름을 DTO 와 일치시킴
        FROM
        employee e
        JOIN
        tbl_dept d ON e.dept_code = d.dept_code
        JOIN
        tbl_position p ON e.position_value = p.position_value
    </select>

</mapper>