<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>전자 결재</title>

    <!-- 폰트 적용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- Wonka 테마용 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">


    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" href="/css/approval/approvalPage.css">
</head>
<body>
<div class="snowfall-container" id="snowContainer"></div>
<header th:replace="~{/common/header::headerFragment}"></header>
<section class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-title">전자결재</div>
    </div>

    <!-- Main Content -->
    <div class="main-content">

        <div class="title">
            🎩 ReCoder 🎫
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger">
            [[${errorMessage}]]
        </div>


        <form action="/approvals/submitApproval" method="post" enctype="multipart/form-data">
            <!-- 제목 -->
            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title">
            </div>

            <!-- 승인자 입력 -->
            <div class="form-group">
                <label for="firstApprover">최초 승인자:</label>
                <input type="text" id="firstApprover" name="firstApprover"
                       onkeydown="searchOnEnter(event, 'firstApprover')">
                <button type="button" onclick="openFirstApproverPopup('firstApprover')">검색</button>
            </div>
            <div class="form-group">
                <label for="midApprover">중간 승인자:</label>
                <input type="text" id="midApprover" name="midApprover"
                       onkeydown="searchOnEnter(event, 'midApprover')">

                <button type="button" onclick="openMidApproverPopup('midApprover')">검색</button>
            </div>
            <div class="form-group">
                <label for="finalApprover">최종 승인자:</label>
                <input type="text" id="finalApprover" name="finalApprover"
                       onkeydown="searchOnEnter(event, 'finalApprover')">
                <button type="button" onclick="openFinalApproverPopup('finalApprover')">검색</button>
            </div>

            <!--참조자-->
            <div class="form-group">
                <label for="referrers">참조자:</label>
                <div id="referrer-container">
                    <!-- 참조자 입력 필드가 동적으로 추가될 위치 -->
                </div>
                <button type="button" onclick="openReferrerPopup()">참조자 검색</button>
            </div>
            <input type="hidden" id="referrers" name="referrers"> <!-- 최종적으로 전송될 데이터 -->

            <!-- 분류 -->
            <div class="form-group">
                <label for="category">분류:</label>
                <select id="category" name="category" onchange="showLeaveTypeDropdown()">
                    <option value="">선택</option>
                    <option value="category1">품의서</option>
                    <option value="category2">지출 결의서</option>
                    <option value="category3">휴가 신청서</option>
                </select>
            </div>

            <!-- 연차, 반차 선택 드롭다운 -->
            <div class="form-group" id="leaveTypeDropdown" style="display:none;">
                <label for="leaveType">휴가 유형:</label>
                <select id="leaveType" name="leaveType">
                    <option value="연차">연차</option>
                    <option value="반차">반차</option>
                </select>
            </div>


            <!-- 휴가 날짜 입력 -->
            <div class="form-group" id="leaveDate" style="display:none;">
                <label for="leaveDateInput">휴가 날짜:</label>
                <input type="date" id="leaveDateInput" name="leaveDate">
            </div>

            <!-- 첨부파일 -->
            <div class="form-group">
                <label for="fileList">첨부파일:</label>
                <input type="file" id="fileList" name="fileList" multiple>
            </div>

            <!-- 내용 -->
            <div class="form-group">
                <label for="content">내용:</label>
                <textarea id="content" name="content"></textarea>
            </div>

            <!-- 제출 버튼 -->
            <div class="button-group">
                <button type="submit" class="submit-btn">상신</button>
            </div>
        </form>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>
<script src="/js/approval/approvalPage.js"></script>


</body>
</html>