<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">

    <link rel="stylesheet" href="/css/approval/approvalMain.css">

</head>
<body>
<header th:replace="~{/common/header::headerFragment}"></header>
<section>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-title">전자결제</div>


            <ul>
                <li><a href="/approvals/waiting">대기 중</a></li>
                <li>진행 중</li>
                <li>완료</li>
                <li>반려</li>
                <li>취소</li>
                <li>내가 작성한</li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Top Bar -->
            <div class="top-bar">
                <a href="/approvals/approvalPage" class="button">결재 신청</a>
            </div>

            <!-- Table -->
            <div class="table-header">
                <div class="table-cell">번호</div>
                <div class="table-cell">보낸 사람</div>
                <div class="table-cell">제목</div>
                <div class="table-cell">작성일</div>
                <div class="table-cell">상태</div>
            </div>

            <div class="table-row">
                <div class="table-cell">1</div>
                <div class="table-cell">문정현</div>
                <div class="table-cell">전자결제 사용금지</div>
                <div class="table-cell">2024.11.26</div>
                <div class="table-cell">대기 중</div>
            </div>

            <div class="table-row">
                <div class="table-cell">2</div>
                <div class="table-cell">문정현</div>
                <div class="table-cell">전자결제 테스트 중</div>
                <div class="table-cell">2024.11.26</div>
                <div class="table-cell">대기 중</div>
            </div>

            <div class="table-row">
                <div class="table-cell">3</div>
                <div class="table-cell">문정현</div>
                <div class="table-cell">사내 카페오픈</div>
                <div class="table-cell">2024.11.26</div>
                <div class="table-cell">완료</div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{/common/footer::footerFragment}"></footer>
</body>
</html>
