<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.refactorial.board.model.dao.BoardMapper">
    <resultMap id="boardResultMap" type="com.ohgiraffers.refactorial.board.model.dto.BoardDTO">
        <id property="postId" column="post_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="postCreationDate" column="post_creationDate"/>
        <result property="postModificationDate" column="post_modificationDate"/>
        <result property="empId" column="emp_id"/>
        <result property="categoryCode" column="category_code"/>
    </resultMap>

    <resultMap id="voteResultMap" type="com.ohgiraffers.refactorial.board.model.dto.VoteDTO">
        <id property="postId" column="post_id"/>
        <result property="voteTitle" column="vote_title"/>
        <result property="voteContent" column="vote_content"/>
        <result property="voteCreationDate" column="vote_creation_date"/>
        <result property="voteAndDate" column="vote_end_date"/>
    </resultMap>

    <!-- 게시물 전체 조회 -->
    <select id="postList" parameterType="int" resultMap="boardResultMap">
        select
           *
        from
          tbl_post
        where
        category_code = #{categoryCode}
    </select>

    <!-- 게시물 등록 -->
    <insert id="boardPost" parameterType="com.ohgiraffers.refactorial.board.model.dto.BoardDTO">
        insert into tbl_post
        (
        post_title,
        post_content,
        post_creationDate,
        emp_id,
        post_modificationDate,
        category_code
        )
        values
        (
        #{postTitle},
        #{postContent},
        #{postCreationDate},
        #{empId},
        #{postModificationDate},
        #{categoryCode}
        )
    </insert>

    <!-- 투표게시판 등록 -->
    <insert id="voteRegist">
        insert into tbl_post

    </insert>

    <!-- 게시물 상세페이지 -->
    <select id="postDetail" parameterType="int" resultMap="boardResultMap">
        select
            *
        from
            tbl_post
        where
            post_id = #{postId}
    </select>

    <!-- 게시물 수정 -->
    <update id="updatePost" parameterType="com.ohgiraffers.refactorial.board.model.dto.BoardDTO">
        update tbl_post
        set
        post_title = #{postTitle},
        post_content = #{postContent},
        category_code = #{categoryCode},
        post_modificationDate = #{postModificationDate}
        where
        post_id = #{postId}
    </update>

    <!-- 게시물 삭제 -->
    <delete id="postDelete" parameterType="int">
        DELETE FROM tbl_post
        WHERE post_id = #{postId}
    </delete>

    <!-- 댓글 등록 -->
    <insert id="comment" parameterType="com.ohgiraffers.refactorial.board.model.dto.CommentDTO">
        insert into tbl_comment
        (
        post_id,
        emp_id,
        comment_content,
        comment_creationDate
        )
        values
        (
        #{postId},
        #{empId},
        #{commentContent},
        #{commentCreationDate}
        )
    </insert>

    <!-- 댓글 조회 -->
    <select id="commentView" parameterType="int" resultType="com.ohgiraffers.refactorial.board.model.dto.CommentDTO">
        select
            *
        from
            tbl_comment
        where
            post_id = #{postId}
    </select>

    <!-- 댓글 삭제 -->
    <delete id="commentDelete" parameterType="int">
        delete from tbl_comment
        where comment_id = #{commentId}
    </delete>

</mapper>