<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/admin/common/admin_circleBtn.css">
</head>
<body>

<!-- 버튼 메뉴 전체를 감싸는 div를 만들었다. -->
<div class="menu" th:fragment="adminCircleMenuFragment" style="--menu-size: 350px;">
    <!-- 흰색 원과 그 중심으로 아이콘들을 배치함 -->

    <hr class="line" style="--i:0">
    <hr class="line" style="--i:1">
    <hr class="line" style="--i:2">


    <div class="menu_background">
        <div class="center-key">🔑</div>

        <!-- 검색 아이콘, style var(--i :0으로 설정) -->
        <li style="--i:0">
            <a href="#">예약자 관리</a>
        </li>
        <!-- 번역 아이콘 -->
        <li style="--i:1">
            <a href="/admin/employee">사 원</a>
        </li>
        <!-- 카메라 아이콘 -->
        <li style="--i:2">
            <a href="#">1:1 문의</a>
        </li>
        <!-- qr 아이콘 -->
        <li style="--i:3">
            <a href="#">공지사항/ 이벤트 등록</a>
        </li>
        <!-- 사진 아이콘 -->
        <li style="--i:4">
            <a href="#">업체 등록</a>
        </li>
        <!-- 음악 아이콘 -->
        <li style="--i:5">
            <a href="#">제품 등록</a>
        </li>

    </div>
</div>

</body>
</html>