<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/admin/common/admin_header.css">
</head>
<body>
    <header th:fragment="adminHeaderFragment">
        <div>
<!--            <img src="../../../static/images/admin_logo.png" alt="가로형 로고">-->
            <img src="/images/admin_logo.png" alt="가로형 로고" onclick="location.href='/user'">
        </div>
    </header>

</body>
</html>